---
layout: default
---
<div class="container bg-light mt-2 py-4">
  <div class="bg_random_color text-light p-5">
    <h2 class="title">All Posts</h2>
  </div>

  <ul class="list-group my-2">
    {% assign sorted = site.posts | sort: 'date' | reverse %}
    {% for post in sorted %}
       {% if post.draft %} {% continue %}{% endif %}
      <li class="list-group-item bg_random_color hover_random_color">
        <a class="display-6" href="{{site.url}}{{site.baseurl}}{{ post.url }}">
          {{post.title}} - 
          <span>
            {{ post.date | date: "%b %d, %Y - %a" }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{{content}}
